<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="TODO Category"
            id="com.starterkit.tasklist.todo">
      </category>
      <view
            name="Task List"
            icon="icons/sample.gif"
            category="com.starterkit.tasklist.todo"
            class="com.starterkit.tasklist.todo.views.TaskList"
            id="com.starterkit.tasklist.todo.views.TaskList">
      </view>
      <view
            category="com.starterkit.tasklist.todo"
            class="com.starterkit.tasklist.todo.views.ArchiveTaskList"
            icon="icons/sample.gif"
            id="com.starterkit.tasklist.todo.views.ArchiveTaskList"
            name="Archive task list">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.starterkit.tasklist.todo.perspective.PerspectiveTaskListFactory"
            id="com.starterkit.tasklist.todo.perspective.tasklist"
            name="TODO">
      </perspective>
      <perspective
            class="com.starterkit.tasklist.todo.perspective.PerspectiveArchiveFactory"
            id="com.starterkit.tasklist.todo.perspective.archive"
            name="Archive">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.tasklist.todo.perspective.tasklist">
         <view
               closeable="false"
               id="com.starterkit.tasklist.todo.views.TaskList"
               minimized="false"
               ratio="1"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.starterkit.tasklist.todo.perspective.archive">
         <view
               closeable="false"
               id="com.starterkit.tasklist.todo.views.ArchiveTaskList"
               minimized="false"
               ratio="1"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
