<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.tasklist.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.starterkit.tasklist.application"
            name="tasklistproduct">
         <property
               name="appName"
               value="tasklistproduct">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.starterkit.tasklist.commands.ExitHandler"
            id="com.starterkit.tasklist.command.exit"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.starterkit.tasklist.menu.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="com.starterkit.tasklist.command.exit"
                  label="Exit"
                  mnemonic="E"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
